@import 'foundation_and_overrides';

@import 'projects';


@font-face {
	font-family: Montserrat-Regular;
	src: url('/Montserrat-Regular.ttf');
}

.top-bar .name h1 a {
	color: white;
	font-size: 2.5em;
	margin-top: 25px;
	font-size: Montserrat-Regular;
}

.top-bar {
	background-color: #58A055;
	height: 100px;
}

body {
	background-color: #D49543;
}