




<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="navbar-logo"><a href="#">CROWDFUNDER</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Projects", projects_path %></li>
      <% if current_user %>
        <li class="inactive"><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li class="inactive"><%= link_to "Log In", login_path %></li>
      <% end %>
      <li class="inactive"><%= link_to "Sign In", new_user_path %></li>
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>